<a href="https://colab.research.google.com/github/SriNithin965/cognizant_internship/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_excel('/content/LifeUniverseAndEverything.xlsx')

In [10]:
data.head(10)

   Life  O2  O3  H2O  N2  H2  Sunlight  Aliens  Plants
0     5   6  38   48  25  38         0       1       1
1     4   0   4    2   6  13         0       1       0
2     4  11   3   78  30  15         0       0       1
3     0  22  30   68  28  23         0       1       0
4    10  20  23   56  20  27         1       0       1
5    10  30  24   42  25   3         0       1       1
6     0   0  29   10  34  35         1       1       0
7     0  37  38   93  21  29         0       1       0
8     5  25   2   26  33   2         0       1       1
9    10  13   8   17  14   7         0       0       1

In [23]:
len(data)

200

In [12]:
X = data.drop('Life', axis=1)
y = data['Life']

In [13]:
from sklearn.linear_model import LinearRegression

fit_intercept = True , normalize = false

In [14]:
clf = LinearRegression().fit(X,y)

In [24]:
clf.coef_

array([-0.00281992, -0.02279053,  0.00692748,  0.03430368, -0.03088754,
       -0.35914753,  0.74404676,  0.30706424])

In [25]:
clf.intercept_

5.017124829245457

life = -0.00281992(o2) + -0.02279053(o3) + 0.00692748(h20) + 0.03430368(h2) + -0.03088754(n2) + -0.35914753(sunlight) + 0.74404676(aliens) + 0.30706424(plants)

In [30]:
!pip install scikit-optimize

Collecting scikit-optimize
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 3.5 MB/s
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.21.5)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->scikit-optimize) (3.1.0)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.10.1 scikit-optimize-0.9.0

In [31]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from skopt import BayesSearchCV

In [32]:
param = {
    'fit_intercept':[True, False],
    'normalize':[True, False]
}

In [42]:
search1 = GridSearchCV(clf, param)

In [ ]:
result1 = search.fit(X,y)

In [44]:
result.best_params_

{'fit_intercept': True, 'normalize': True}

In [ ]:
search2 = RandomizedSearchCV(clf,param)
result2 = search.fit(X,y)

In [41]:
result2.best_params_

{'fit_intercept': True, 'normalize': True}

In [ ]:
search3 = BayesSearchCV(clf,param)
result3 = search3.fit(X,y)

In [46]:
result3.best_params_

OrderedDict([('fit_intercept', True), ('normalize', True)])